* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header .upper-ul {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 70px;
    align-items: center;
    font-size: 2rem;
}

.header {
    height: 70px;
    background: #1e2478;
    color: #fff;
}

.header .upper-ul li {
    padding: 17px 63px;
    cursor: pointer;
}

.header .upper-ul li:hover {
    color: black;
    background: #fff;
}

.relative-wrappper {
    position: relative;
    background: blue;
}

.relative-wrappper ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    color: #000;
    background: blue;
    width: 210px;
    list-style: none;
}


.relative-wrappper {
    position: relative;
    background: blue;
    top: 16px;
    left: -65px;
    width: 100%;
    cursor: pointer;
}
.relative-wrappper ul li:hover {
    background: red !important;
    color: #fff !important;
    cursor: pointer;
}
.dropdown{
    display: none;
}
.header .upper-ul li:hover .dropdown{
    display: block;
}